@page "/login"

@inject NavigationManager NavigationManager
@using CAT_App.Data;

<img src="/images/fountain.jpg" />
<p />
<h4>@(GetSignUp() ? "Sign Up" : "Login")</h4>
<p />
<form class="login-form">
    <label for="username">Username: </label>
    <br />
    <input id="username" type="text" placeholder="username" @bind-value="username"/>
    <p />
    <label for="password">Password: </label>
    <br />
    <input id="password" type="password" placeholder="password" @bind-value="password"/>
    <p />
    <div class="@(GetSignUp()? "d-show" : "d-none")">
        <label for="passwordRepeat">Retype Password: </label>
        <br />
        <input id="passwordRepeat" type="password" placeholder="retype password" @bind-value="passwordRepeat" />
        <p />
        <label for="type">Account Type: </label>
        <select id="type" name="type" @bind="accountType">
            <option value="adult">Adult</option>
            <option value="child">Child</option>
            <option value="student">Student</option>
            <option value="senior">Senior</option>
        </select>
    </div>
    <div class="flex-container">
        <input type="button" value="@(GetSignUp()? "Back" : "Login")" @onclick="@(GetSignUp()? ChangeMode : LoginUser)" />
        <input type="button" value="Sign Up" @onclick="@(GetSignUp()? SignUpUser : ChangeMode)" />
    </div>
</form>


@code {
    string username, password, passwordRepeat, accountType="adult";
    bool signUp = false;

    private async void LoginUser()
    {
        // Do all the registration stuff
        if (username != null && !username.Equals("") &&
            password != null && !password.Equals(""))
        {
            string result = await User.Login(username, password);

            // Figure out what to do next
            if (result.Equals("true"))
            {
                NavigationManager.NavigateTo("/account", true);
            }
            else
            {
                // Popup for login failed
                Console.WriteLine(result);
            }
        }
        else
        {
            // Popup for missing fields

        }
    }

    private async void SignUpUser()
    {
        // Do all the registration stuff
        if (username != null && !username.Equals("") &&
            password != null && !password.Equals("") &&
            passwordRepeat != null && !passwordRepeat.Equals(""))
        {
            string result = await User.Register(username, password, passwordRepeat, accountType);

            // Figure out what to do next
            if (result.Equals("true"))
            {
                NavigationManager.NavigateTo("/login", true);
            }
            else
            {
                // Popup for login failed
                Console.WriteLine(result);
            }
        }
        else
        {
            // Figure out popup for empty fields

        }
    }

    private void ChangeMode()
    {
        passwordRepeat = null;

        if (signUp)
        {
            signUp = false;
        }
        else
        {
            signUp = true;
        }
    }

    private bool GetSignUp()
    {
        return signUp;
    }
}
